################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FindMissingNumProblem2/bin/Debug/netcoreapp2.1
/FindMissingNumProblem2/obj
/SubArrayLargestSum/bin/Debug/netcoreapp2.1
/SubArrayLargestSum/obj
